body
    font-family: Helvetica, sans-serif

#editor
    position: fixed
    top: 0
    left: 0
    width: 500px
    height: 100%

#viewer
    margin-left: 500px
    padding: 20px

table
    border: 1px solid #bbb

tr:nth-child(odd)
    background: #eee

td, th
    padding: 5px

