$header-height: 60px
$min-panel-width: 300px

@mixin table-border
  border-style: solid
  border-color: #bbb

*
  -webkit-box-sizing: border-box

.clearfix:before, .clearfix:after
  content: " "
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

body
  font-family: Helvetica, sans-serif
  margin: 0
  overflow-y: hidden

header
  height: $header-height
  background: #eee
  color: #222
  padding: 15px
  border-bottom: 1px solid black
  line-height: 30px

  *
    float: left

#title
  font-size: 20px
  margin: 0

nav

  ul
    margin: 0
    list-style-type: none
    cursor: pointer

    li
      float: left
      margin-right: 40px
#main
  min-width: $min-panel-width * 2

#editor, #viewer
  width: 50%
  min-width: $min-panel-width
  float: left

#editor
  height: 2000px

#viewer
  padding: 20px
  overflow: scroll

table
  @include table-border
  border-width: 1px

tr
  @include table-border
  border-width: 0 0 1px 0

tr:nth-child(odd)
  background: #efefef

td, th
  @include table-border
  border-width: 0 1px 0 0
  padding: 5px

